<!DOCTYPE html>
<html>
<head>
  <title>Project1</title>

</head>
<body>
<h1> Rafael Sanchez </h1>

<table>
	<thead>
		<tr>
			<th>Project Name</th>
			<th>Description</th>
			<th>URL</th>
		</tr>
	<thead>
	<tbody>

		<tr>
			<td>project_0</td>
			<td>Environment Set Up </td>
			<td><a href="">/</td>
		</tr>
		<tr>
			<td>project_1</td>
			<td>Custom Home Page Route </td>
			<td><a href="">/</td>
		</tr>

	</tbody>	
</table>
</body>
</html>
